[Unit]
Description=Mausul receiver service

[Container]
Image=mausul:latest
EnvironmentFile=%h/mausul.env
Volume=%h/webmentions:/webmentions:z

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
