[Unit]
Description=Webmentions revalidation service

[Container]
Image=webmentions:latest
EnvironmentFile=%h/webmentions.env
Volume=%h/webmentions:/webmentions:z
Exec=revalidate

[Service]
Restart=no
