[Unit]
Description=Mausul revalidation service

[Service]
Type=oneshot
ExecStart=%h/mausul revalidate
EnvironmentFile=%h/mausul.env
Environment="GOMEMLIMIT=450MiB"
Restart=no

MemoryHigh=128M
MemoryMax=450M
CPUQuota=100%
TasksMax=32
