[Unit]
Description=Mausul receiver service
After=network.target mausul.socket
Requires=mausul.socket

[Service]
ExecStart=%h/mausul
EnvironmentFile=%h/mausul.env
Environment="GOMEMLIMIT=450MiB"
Restart=on-failure
RestartSec=5

MemoryHigh=128M
MemoryMax=450M
CPUQuota=100%
TasksMax=32

[Install]
WantedBy=default.target
